holidayHomesImporter/flipkey_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--
	04/03/2014  TW  Generated by Visual Studio
	05/03/2014  TW  Edited for maxLength values, structural problems, comments
	12/05/2014  TW  Transform only the data required for importing
	                and ignore the rest
					(to reduce the checking and testing workload, also better performance)
	13/05/2014  TW  New elements handicap_adapted, elder_elevator, children_over_five
-->
  <xs:element name="property_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
          <xs:complexType>
            <xs:sequence>
              <!-- Generated but incorrect <xs:choice maxOccurs="unbounded"> -->
				<!-- property_details -->
				<!-- Time of checked, unformatted string -->
				<xs:element minOccurs="0" name="detailsCheck_in" nillable="true" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsCheck_out">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsName" nillable="true" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="detailsHandicap_adapted" type="xs:integer" />
                <xs:element minOccurs="0" name="detailsElder_elevator" type="xs:integer" />
                <xs:element minOccurs="0" name="detailsChildren_over_five" type="xs:integer" />
				<xs:element minOccurs="0" name="detailsElder">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- bathroom count can be a decimal to allow for 1.5 baths, bedroom is always a whole number -->
                <xs:element minOccurs="0" name="detailsBathroom_count" type="xs:decimal" />
                <xs:element minOccurs="0" name="detailsBedroom_count" type="xs:integer" />
				<xs:element minOccurs="0" name="detailsPet">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsUnit_size">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- This should be one of the ISO 4217 Currency Codes -->
				<xs:element minOccurs="0" name="detailsCurrency">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsHandicap">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- The base minimum stay for the property, can be overridden by rate elements-->
				<xs:element minOccurs="0" name="detailsMinimum_stay" type="xs:integer" />
				<!-- Total guest count -->
                <xs:element minOccurs="0" name="detailsOccupancy" type="xs:integer" />
				<xs:element minOccurs="0" name="detailsSmoking">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- Another URL for the property -->
				<xs:element minOccurs="0" name="detailsUrl">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsUnit_size_units">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsProperty_type">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsChildren">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- property_descriptions -->
				<xs:element minOccurs="0" name="propertyDescription">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- review_count/review_sum gives star rating -->
                <xs:element minOccurs="0" name="review_count" type="xs:integer" />
				<!-- property_photos -->
                <xs:element minOccurs="0" name="property_photos">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_photo">
                        <xs:complexType>
                          <xs:sequence>
							<xs:element minOccurs="0" name="description">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4000"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="has_full">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="base_url" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="photo_file_name" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="height" type="xs:integer"/>
							<xs:element minOccurs="0" name="original_height" type="xs:integer"/>
							<xs:element minOccurs="0" name="largest_image_prefix">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="photo_type" >
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="width" type="xs:integer"/>
							<xs:element minOccurs="0" name="original_width" type="xs:integer"/>
							<xs:element minOccurs="0" name="order" type="xs:integer"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_addresses -->
                <xs:element minOccurs="0" name="addressCity" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLocation_name" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressZip" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressAddress1" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressAddress2" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressPrecision" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLongitude" type="xs:decimal" />
				<!-- if 0, you can NOT show a pin point on a map and must show just the general area -->
                <xs:element minOccurs="0" name="addressShow_exact_address" type="xs:integer" />
                <xs:element minOccurs="0" name="addressState" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressNew_location_id" type="xs:integer" />
                <xs:element minOccurs="0" name="addressCountry" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLatitude" type="xs:decimal" />
				<!-- review_count/review_sum gives star rating -->
                <xs:element minOccurs="0" name="review_sum" type="xs:integer" />
				<!-- property_amenities -->
                <xs:element minOccurs="0" name="property_amenities">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_amenity">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="description" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4000"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="parent_amenity" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="site_amenity" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="order" type="xs:integer" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- review_photos was not in schema and only appears as empty element.. future functionality? -->
                <xs:element minOccurs="0" name="review_photos" type="xs:integer" />
				<!-- property_rate_summary -->
                <xs:element minOccurs="0" name="rateMinimum_length" type="xs:integer" />
                <xs:element minOccurs="0" name="rateDay_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateWeek_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateMonth_min_rate" type="xs:decimal" />
				<!-- property_rates -->
                <xs:element minOccurs="0" name="property_rates">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_rate">
                        <xs:complexType>
                          <xs:sequence>
                            <!-- <xs:choice maxOccurs="unbounded"> -->
                              <xs:element minOccurs="0" name="weekend_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="weeknight_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="end_date" type="xs:date" />
                              <xs:element minOccurs="0" name="week_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="weekend_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="start_date" type="xs:date" />
                              <xs:element minOccurs="0" name="label" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="weekend_nights" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="per_person_per_stay"  type="xs:decimal" />
                              <xs:element minOccurs="0" name="per_person_per_night" type="xs:decimal" />
                              <xs:element minOccurs="0" name="minimum_length" type="xs:integer" />
							  <!-- 0-6, 0= Sunday, the day that a stay must start/end, not used very much -->
                              <xs:element minOccurs="0" name="turn_day" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="month_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="per_person_over_amount" type="xs:decimal" />
                              <xs:element minOccurs="0" name="is_changeover_day_defined" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="weeknight_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="changeover_day" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="month_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="week_min_rate" type="xs:decimal" />
                            <!-- </xs:choice> -->
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_attributes -->
                <xs:element minOccurs="0" name="attributesUser_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesIs_revgen" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="attributesModified" type="xs:dateTime" />
                <xs:element minOccurs="0" name="attributesService_level_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesDirect" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="attributesScore" type="xs:decimal" />
				<!-- This will either be 2 (Professional Manager) or 6 (individual owner) --> 
                <xs:element minOccurs="0" name="attributesUser_group_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesFrontdesk_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesProperty_id" type="xs:integer" />
              <!-- Generated but incorrect </xs:choice> -->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>