holidayHomesImporter/flipkey_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--
	04/03/2014  TW  Generated by Visual Studio
	05/03/2014  TW  Edited for maxLength values, structural problems, comments
-->
  <xs:element name="property_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
          <xs:complexType>
            <xs:sequence>
              <!-- Generated but incorrect <xs:choice maxOccurs="unbounded"> -->
				<!-- property_details -->
				<!-- Time of checked, unformatted string -->
				<xs:element minOccurs="0" name="detailsCheck_in" nillable="true" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsCheck_out">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsName" nillable="true" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsElder">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- bathroom count can be a decimal to allow for 1.5 baths, bedroom is always a whole number -->
                <xs:element minOccurs="0" name="detailsBathroom_count" type="xs:decimal" />
                <xs:element minOccurs="0" name="detailsBedroom_count" type="xs:integer" />
				<xs:element minOccurs="0" name="detailsPet">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsUnit_size">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- This should be one of the ISO 4217 Currency Codes -->
				<xs:element minOccurs="0" name="detailsCurrency">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsHandicap">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- The base minimum stay for the property, can be overridden by rate elements-->
				<xs:element minOccurs="0" name="detailsMinimum_stay" type="xs:integer" />
				<!-- Total guest count -->
                <xs:element minOccurs="0" name="detailsOccupancy" type="xs:integer" />
				<xs:element minOccurs="0" name="detailsSmoking">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- Another URL for the property -->
				<xs:element minOccurs="0" name="detailsUrl">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsUnit_size_units">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsProperty_type">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="detailsChildren">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- property_bathrooms -->
				  <xs:element minOccurs="0" name="property_bathrooms">
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="property_bathroom">
							<xs:complexType>
							  <xs:sequence>
								<xs:element minOccurs="0" name="type">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element minOccurs="0" name="description">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							  </xs:sequence>
							</xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				<!-- property_descriptions -->
				<xs:element minOccurs="0" name="propertyDescription">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
				<!-- review_count/review_sum gives star rating -->
                <xs:element minOccurs="0" name="review_count" type="xs:integer" />
				<!-- property_photos -->
                <xs:element minOccurs="0" name="property_photos">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_photo">
                        <xs:complexType>
                          <xs:sequence>
							<xs:element minOccurs="0" name="description">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4000"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="has_full">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="base_url" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="photo_file_name" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="height" type="xs:integer"/>
							<xs:element minOccurs="0" name="original_height" type="xs:integer"/>
							<xs:element minOccurs="0" name="largest_image_prefix">
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="photo_type" >
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="width" type="xs:integer"/>
							<xs:element minOccurs="0" name="original_width" type="xs:integer"/>
							<xs:element minOccurs="0" name="order" type="xs:integer"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_flags -->
                <xs:element minOccurs="0" name="flagsCalendar_export_url" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="flagsRates_updated" type="xs:dateTime" />
                <xs:element minOccurs="0" name="flagsLast_booked_date" type="xs:dateTime" />
				<!-- either 1 or 0 for -->
                <xs:element minOccurs="0" name="flagsHas_special" type="xs:boolean" />
                <xs:element minOccurs="0" name="flagsPhotos_updated" type="xs:dateTime" />
                <xs:element minOccurs="0" name="flagsIs_tip" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="flagsCalendar_updated" type="xs:dateTime" />
                <xs:element minOccurs="0" name="flagsAlt_photo_test" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="flagsAlt_pdp_sprite_filename_v2" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!-- property_bedrooms -->
                <xs:element minOccurs="0" name="property_bedrooms" >
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="property_bedroom">
							<xs:complexType>
							  <xs:sequence>
								  <xs:element name="twin_count" type="xs:integer"/>
								  <xs:element name="other_count" type="xs:integer"/>
								  <xs:element name="description" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4000"/>
										</xs:restriction>
									</xs:simpleType>
								  </xs:element>
								  <xs:element name="standard_count" type="xs:integer"/>
								  <xs:element name="bunk_count" type="xs:integer"/>
								  <xs:element name="queen_count" type="xs:integer"/>
								  <xs:element name="king_count" type="xs:integer"/>
							  </xs:sequence>
							</xs:complexType>
						  </xs:element>
					  </xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- property_addresses -->
                <xs:element minOccurs="0" name="addressCity" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLocation_name" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressZip" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressAddress1" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressAddress2" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressPrecision" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLongitude" type="xs:decimal" />
				<!-- if 0, you can NOT show a pin point on a map and must show just the general area -->
                <xs:element minOccurs="0" name="addressShow_exact_address" type="xs:integer" />
                <xs:element minOccurs="0" name="addressState" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressNew_location_id" type="xs:integer" />
                <xs:element minOccurs="0" name="addressCountry" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="addressLatitude" type="xs:decimal" />
				<xs:element name="property_booked_dates">
				<xs:complexType>
				  <xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="booked_date" type="xs:date" />
				  </xs:sequence>
				</xs:complexType>
				</xs:element>
				<!-- review_count/review_sum gives star rating -->
                <xs:element minOccurs="0" name="review_sum" type="xs:integer" />
				<!-- property_amenities -->
                <xs:element minOccurs="0" name="property_amenities">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_amenity">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="description" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4000"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="parent_amenity" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="site_amenity" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
                            <xs:element minOccurs="0" name="order" type="xs:integer" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_calendars -->
                <xs:element minOccurs="0" name="property_calendars">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_calendar" type="xs:date" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_fees -->
				<xs:element name="property_fees">
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="property_fee" >
						<xs:complexType>
						  <xs:sequence>
							<xs:element name="fee_units" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" name="required" type="xs:integer" />
							<xs:element minOccurs="0" name="property_fee_type_id" type="xs:integer" />
							<xs:element name="name" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="cost" type="xs:integer" />
							<xs:element name="type" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="description" >
							  <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4000"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
						  </xs:sequence>
						</xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				</xs:element>
                <xs:element minOccurs="0" name="property_videos" >
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="property_video" >
							<xs:complexType>
								<xs:sequence>
									<xs:element name="baseurl" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="description" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="last_verified" type="xs:dateTime"/>
									<xs:element name="modified" type="xs:dateTime"/>
									<xs:element name="order" type="xs:integer"/>
									<xs:element name="status" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="video_source" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="video_source_id" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="video_source_updated" type="xs:dateTime"/>
									<xs:element name="video_thumb_filename" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- property_default_rates -->
                <xs:element minOccurs="0" name="property_default_rates" >
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" name="property_default_rate" >
							<xs:complexType>
							  <xs:sequence>
								<!-- These are rates to be used when there is no rate for a date range -->
								<xs:element name="modified" type="xs:dateTime"/>
								<xs:element name="minimum_length"  type="xs:integer"/>
								<xs:element name="day_max_rate" type="xs:decimal"/>
								<xs:element name="day_min_rate" type="xs:decimal"/>
								<xs:element name="month_max_rate" type="xs:decimal"/>
								<xs:element name="month_min_rate" type="xs:decimal"/>    
								<xs:element name="week_max_rate" type="xs:decimal"/>
								<xs:element name="week_min_rate" type="xs:decimal"/>
							  </xs:sequence>
							</xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- review_photos was not in schema and only appears as empty element.. future functionality? -->
                <xs:element minOccurs="0" name="review_photos" type="xs:integer" />
				<!-- property_rate_summary -->
                <xs:element minOccurs="0" name="rateUser_day_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateDay_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateUser_week_min_rate"  type="xs:decimal" />
                <xs:element minOccurs="0" name="rateUser_month_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateWeek_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateUser_week_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateUser_month_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateMonth_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateMinimum_length" type="xs:integer" />
                <xs:element minOccurs="0" name="rateMonth_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateUser_day_max_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateDay_min_rate" type="xs:decimal" />
                <xs:element minOccurs="0" name="rateWeek_min_rate" type="xs:decimal" />
				<!-- property_rates -->
                <xs:element minOccurs="0" name="property_rates">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="property_rate">
                        <xs:complexType>
                          <xs:sequence>
                            <!-- <xs:choice maxOccurs="unbounded"> -->
                              <xs:element minOccurs="0" name="weekend_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="weeknight_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="end_date" type="xs:date" />
                              <xs:element minOccurs="0" name="week_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="weekend_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="start_date" type="xs:date" />
                              <xs:element minOccurs="0" name="label" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="weekend_nights" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="per_person_per_stay"  type="xs:decimal" />
                              <xs:element minOccurs="0" name="per_person_per_night" type="xs:decimal" />
                              <xs:element minOccurs="0" name="minimum_length" type="xs:integer" />
							  <!-- 0-6, 0= Sunday, the day that a stay must start/end, not used very much -->
                              <xs:element minOccurs="0" name="turn_day" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="month_max_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="per_person_over_amount" type="xs:decimal" />
                              <xs:element minOccurs="0" name="is_changeover_day_defined" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="weeknight_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="changeover_day" >
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
                              <xs:element minOccurs="0" name="month_min_rate" type="xs:decimal" />
                              <xs:element minOccurs="0" name="week_min_rate" type="xs:decimal" />
                            <!-- </xs:choice> -->
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
				<!-- property_attributes -->
                <xs:element minOccurs="0" name="attributesUser_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesIs_revgen" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="attributesModified" type="xs:dateTime" />
                <xs:element minOccurs="0" name="attributesService_level_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesDirect" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element minOccurs="0" name="attributesScore" type="xs:decimal" />
				<!-- This will either be 2 (Professional Manager) or 6 (individual owner) --> 
                <xs:element minOccurs="0" name="attributesUser_group_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesFrontdesk_id" type="xs:integer" />
                <xs:element minOccurs="0" name="attributesProperty_id" type="xs:integer" />
				<!-- property_special -->
				<!-- guessing amts are decimal, not originally specified -->
				<xs:element name="specialAmt_off_per_night" type="xs:decimal" nillable="true"/>
				<xs:element name="specialAmt_off_per_stay" type="xs:decimal" nillable="true"/>
				<!-- any monetary amount is in this currency -->
				<xs:element name="specialCurrency" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="specialDescription" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="specialTitle" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="specialFree_stuff_title" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="specialNum_free_nights" nillable="true">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!-- used with num_free_nights, you have to stay out_of_num_nights to get num_free_nights -->
				<xs:element name="specialOut_of_num_nights" type="xs:integer" nillable="true"/>
				<xs:element name="specialPct_off_rate" type="xs:decimal" nillable="true" />
				<!-- You can show these specials only between these dates -->
				<xs:element name="specialPublish_start_date" type="xs:date"  />
				<xs:element name="specialPublish_end_date" type="xs:date"  />
				<!-- THe traveler must stay between these dates -->
				<xs:element name="specialRental_start_date" type="xs:date"  />
				<xs:element name="specialRental_end_date" type="xs:date"  />
				<!-- You can use these enum's for your logic on how to display the message -->
				<xs:element name="specialSpecial_type_description">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!-- property_themes -->
                <xs:element minOccurs="0" name="property_themes" >
					<xs:complexType>
					  <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="property_theme" >
							<xs:complexType>
							  <xs:sequence>
								<xs:element name="theme_type">
								  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								  </xs:simpleType>
								</xs:element>
								<xs:element name="theme_description">
								  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								  </xs:simpleType>
								</xs:element>
							  </xs:sequence>
							</xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				</xs:element>
              <!-- Generated but incorrect </xs:choice> -->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>