holidayHomesImporter/homeaway_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (http://www.altova.com) by Matt Conway (South West Solutions) -->
<!-- W3C Schema generated by XMLSpy v2014 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2005/Atom">
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="uri"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:attribute name="term" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listing"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:attribute name="wc" type="xs:int" use="required"/>
			<xs:attribute name="city" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="state" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sleeps" type="xs:int" use="required"/>
			<xs:attribute name="country" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bedrooms" type="xs:int" use="required"/>
			<xs:attribute name="bathrooms" type="xs:int" use="required"/>
			<xs:attribute name="postalCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="showerRooms" type="xs:int" use="required"/>
			<xs:attribute name="propertyType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="category"/>
				<xs:element ref="id"/>
				<xs:element ref="updated"/>
				<xs:element ref="link"/>
				<xs:element ref="summary"/>
				<xs:element ref="content"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="subtitle"/>
				<xs:element ref="id"/>
				<xs:element ref="link" maxOccurs="unbounded"/>
				<xs:element ref="author"/>
				<xs:element ref="updated"/>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="headline">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:attribute name="rel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
						<xs:enumeration value="alternate"/>
						<xs:enumeration value="first"/>
						<xs:enumeration value="last"/>
						<xs:enumeration value="next"/>
						<xs:enumeration value="self"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
						<xs:enumeration value="application/atom+xml"/>
						<xs:enumeration value="application/html"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="hreflang">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="headline"/>
				<xs:element ref="description"/>
				<xs:element ref="regions"/>
				<xs:element ref="rates"/>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="url" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unitId" type="xs:int" use="required"/>
			<xs:attribute name="imageUrl" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="systemId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="propertyId" type="xs:int" use="required"/>
			<xs:attribute name="lastModified" type="xs:dateTime" use="required"/>
			<xs:attribute name="thumbnailUrl" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rate">
		<xs:complexType>
			<xs:attribute name="to" type="xs:decimal" use="required"/>
			<xs:attribute name="from" type="xs:decimal" use="required"/>
			<xs:attribute name="periodType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
						<xs:enumeration value="extra-night"/>
						<xs:enumeration value="monthly"/>
						<xs:enumeration value="nightly-weekday"/>
						<xs:enumeration value="nightly-weekend"/>
						<xs:enumeration value="weekend"/>
						<xs:enumeration value="weekly"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="currencyUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="rates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rate" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="rentalBasis" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="regions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="region" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_subtitle">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="subtitle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_subtitle">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_title">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_title">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updated" type="xs:dateTime"/>
	<xs:element name="uri">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
