holidayHomesImporter/interhomeXML_feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accommodations">
    <xs:complexType>
      <xs:sequence>
		  <xs:element minOccurs="0" maxOccurs="unbounded" name="accommodation">
			<xs:complexType>
			  <xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="name">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="country">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="region" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="place" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="zip">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="details">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="quality" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="brand">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="pax" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="sqm" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="rooms" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="bedrooms" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="toilets" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="bathrooms" type="xs:integer" />
				<xs:element minOccurs="0" maxOccurs="1" name="geodata">
				  <xs:complexType>
				    <xs:sequence>
					  <xs:element minOccurs="0" maxOccurs="1" name="lat" type="xs:decimal" />
					  <xs:element minOccurs="0" maxOccurs="1" name="lng" type="xs:decimal" />
				    </xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="attributes">
				  <xs:complexType>
				    <xs:sequence>
					  <xs:element minOccurs="0" maxOccurs="unbounded" name="attribute">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50" />
							</xs:restriction>
						  </xs:simpleType>
					  </xs:element>
				    </xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="distances">
				  <xs:complexType>
				    <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="distance">
						  <xs:complexType>
							<xs:sequence>
								  <xs:element minOccurs="0" maxOccurs="1" name="type">
									  <xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50" />
										</xs:restriction>
									  </xs:simpleType>
								  </xs:element>
								<xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:integer" />
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
				    </xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="pictures">
				  <xs:complexType>
				    <xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="picture">
						  <xs:complexType>
							<xs:sequence>
								  <xs:element minOccurs="0" maxOccurs="1" name="type">
									  <xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10" />
										</xs:restriction>
									  </xs:simpleType>
								  </xs:element>
								  <xs:element minOccurs="0" maxOccurs="1" name="season">
									  <xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10" />
										</xs:restriction>
									  </xs:simpleType>
								  </xs:element>
								  <xs:element minOccurs="0" maxOccurs="1" name="url">
									  <xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="100" />
										</xs:restriction>
									  </xs:simpleType>
								  </xs:element>
								<xs:element minOccurs="0" maxOccurs="1" name="datetime" type="xs:decimal" />
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
				    </xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="pets" type="xs:integer" />
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>